.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: auto;
    width: 520px;
    height: 350px;
    background: rgba(255, 255, 255, 0.527);
    box-shadow: 5px 5px 15px rgba(rose, .5);
    border-radius: 10px;
  }
  

.imagen{
    content: icon;
    width: 50%;
}