.nav {
  display: flex;
  background-color: rgba(64, 232, 31, 0.711);
  flex-direction: row;
  justify-content: space-between;
  border-radius: 10px;
  border: 2px solid rgba(42, 152, 84, 0.362);
  padding: 10px;
  margin: 20px;
}
