.nav{
  margin-left: .1em;
  margin-right: .1em;
  padding: 0;
  background-color:rgba(51, 51, 51, 0.412);
  border-radius: 1em;
  background-image: url("https://www.freepnglogos.com/uploads/rick-and-morty-png/list-rick-and-morty-episodes-wikipedia-24.png") ;
    background-repeat: no-repeat;
    height: 3.3em;
    background-size: 8em;
}
ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin : 0;
  padding: 0;
  overflow: hidden;
  height: 300px;
  padding-top: 0.8em;
}

li {
  float: left;  
}

li a {
  text-decoration: none;
  font-size:medium;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(245, 239, 239);
  text-align: center;
  padding: 20px 20px;
}

li a:hover {
  background-color: rgba(26, 183, 183, 0.686)
}
